<div class="container  centerbox bg-white shadow rounded push-top border">
  <div class="row border-bottom pad ">
    <div class="col-12 text-center">
      <h4 class="text-font">
        Email Inbox
      </h4>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>