html, body {
    background-color:#cecece;
}
.bg-white {
    background-color:rgba(0,0,0,0.0);
}
.centerbox {
    max-width:700px;
}
.text-font {
    font-family: 'Roboto', sans-serif;
    color:#333333
}
.text-font-xs {
    font-family: 'Roboto', sans-serif;
    color:#333333;
    font-size:12px;
}
.text-font-md {
    font-family: 'Roboto', sans-serif;
    color:#333333;
    font-size:11px;
}
.text-font-lg {
    font-family: 'Roboto', sans-serif;
    color:#333333;
    font-size:13px;
}
.push-top {
    margin-top:40px;
}
.push-left-xs {
    margin-left:10px;
}
.pad {
    padding:10px 0px;
}
