<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul class="list-group push-top ">
                <li class=" list-group-item" *ngFor="let i of emails">
                    <div class="row ">
                        <div class="col align-self-center">
                            <span class="text-font-lg">sent by:
                                <strong>{{i.name}}</strong>
                            </span>
                        </div>
                        <div class="col-5 align-self-center">
                                <span class="text-font-lg">
                            {{i.subjects[0]}}
                            </span>
                        </div>
                        <div class="col text-center">
                            <button [routerLink]="[i.id]" type="button" class="btn btn-info">More</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row pad">
        <div class="col">
            <span class="text-font-xs">total emails:{{pageinfo.total}}</span>
        </div>
        <div class="col-6"></div>
        <div class="col">
            <span class="text-font-xs">page: {{pageinfo.page}} of {{pageinfo.pageSize}} total pages.</span>
        </div>
    </div>
</div>