<div class="container">
    <div class="row">
        <div class="col-1" style="align-self: center">
            <div *ngIf="name">
                <button type="button" [routerLink]="['/']" class="btn btn-info">
                    <i class="fas icon-small fa-lg fa-chevron-left"></i>
                </button>
            </div>
        </div>
        <div class="col-11" style="align-self: center">
            <span class="text-font-md">Message sent by:
                <strong>{{name}}</strong>
            </span>
            <p class="text-font-md">Subject:
                <strong>{{mailSubject[0]}}</strong>
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pad">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" (click)="toggles('html')">HTML</button>
                        <button type="button" class="btn btn-secondary" (click)="toggles('plaintext')">PLAIN TEXT</button>
                    </div>
                </div>
                <div class="container mailcontainer border rounded">
                    <div class="row">
                        <div class="col-12">
                            <div *ngIf="toggle == 'html';then html else plaintext"></div>
                            <ng-template #html>
                                <p class="text-font-md">{{mailBody.html}}</p>
                            </ng-template>
                            <ng-template #plaintext>
                                <p class="text-font-md">{{mailBody.text}}</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>